*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(71, 2, 71);
  color: ivory;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1;
  width: 80%;
  margin: auto;
}
h1 {
  width: 100%;
  text-align: center;
  
}
.primary {
  color: #38033d;
  }
.secondary {
  color: #b3b3b3;
}
.disabled {
  color: #7a7a7a;
}
.bg-primary {
  background-color: rgb(212, 13, 126);
}
.bg-success{
  background-color: rgb(5, 191, 110);
}
bg-delete{
  background-color: rgb(191, 5, 5);
}
.btn{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  
}
.btn:hover{
  background-color: rgb(173, 19, 220)
}
.btn:disabled {
  cursor: not-allowed;
  background-color: rgb(120, 120, 120);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}